<!-- this is second part of template for html list -->
<table>
<thead>
<tr>
        <th tabindex="-1" onclick="numberTableSort(this,true,'en')"   >Name</th>
        <th tabindex="-1" onclick="stringTableSort(this,'Lower','en')">Color</th>
        <th tabindex="-1" onclick="numberTableSort(this,true,'en')"   >Missing</th>
        <th tabindex="-1" onclick="numberTableSort(this,true,'en')"   >Type</th>
        <th tabindex="-1" onclick="numberTableSort(this,true,'en')"   >ID</th>
        <th tabindex="-1" onclick="numberTableSort(this,true,'en')"   >Color ID</th>
        <th tabindex="-1" onclick="numberTableSort(this,true,'en')"   >Max price</th>
        <th tabindex="-1" onclick="numberTableSort(this,true,'en')"   >Wanted</th>
        <th tabindex="-1" onclick="numberTableSort(this,true,'en')"   >Have</th>
        <th tabindex="-1" onclick="stringTableSort(this,'Lower','en')">Condition</th>
        <th tabindex="-1" onclick="numberTableSort(this,true,'en')"   >Remarks</th>
        <th tabindex="-1" onclick="numberTableSort(this,true,'en')"   >Notify</th>
        <th tabindex="-1" onclick="numberTableSort(this,true,'en')"   >Wanted show</th>
        <th tabindex="-1" onclick="numberTableSort(this,true,'en')"   >Wanted list ID</th>
</tr>
</thead>
