<!-- this is second part of template for html log -->
<table>
<thead>
<tr>
        <th tabindex="-1" onclick="numberTableSort(this,true,'en')"   >ID</th>
        <th tabindex="-1" onclick="numberTableSort(this,true,'en')"   >Color ID</th>
        <th tabindex="-1" onclick="stringTableSort(this,'Lower','en')">Color</th>
        <th tabindex="-1" onclick="numberTableSort(this,true,'en')"   >Name</th>
        <th tabindex="-1" onclick="numberTableSort(this,true,'en')"   >Wants</th>
        <th tabindex="-1" onclick="numberTableSort(this,true,'en')"   >Have</th>
        <th tabindex="-1" onclick="stringTableSort(this,'Lower','en')">Action</th>
        <th tabindex="-1" onclick="numberTableSort(this,true,'en')"   >In order</th>
        <th tabindex="-1" onclick="numberTableSort(this,true,'en')"   >Added to WL</th>
        <th tabindex="-1" onclick="numberTableSort(this,true,'en')"   >Left in order</th>
        <th tabindex="-1" onclick="numberTableSort(this,true,'en')"   >New have</th>
        <th tabindex="-1" onclick="numberTableSort(this,true,'en')"   >WL still missing</th>
</tr>
</thead>
